:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --container-width: 300px;
	--background-color: hsl(10, 0%, 1.8%);
	--background-highlight: hsl(20, 10%, 10%);
	--background-highlight-1: hsl(20, 10%, 5%);
	--font-color: hsl(30, 80%, 90%);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
body{
	background: var(--background-color);
	color: var(--font-color);
	box-sizing: border-box;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}

.typeahead-container{
  display: flex;
  flex-direction: column;
  label:has(input:focus){
    outline: 1px solid var(--font-color);
  }
  
  label:has(input:checked) {
    background: black;
    color: white;
  }
  input[type="radio"][data-dynamic-typeahead]{
    position: absolute;
    opacity: 0;
    &:focus, &:hover{
      background: var(--background-highlight);
    }
  }
  label {
    display: block;
    &:hover, &:focus{
      background: var(--background-highlight);
    }
  }
}