:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

	--background-highlight: hsl(20, 10%, 10%);
	--font-color: hsl(30, 80%, 90%);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

body{
	background: var(--background-color);
	color: var(--font-color);
	box-sizing: border-box;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.typeahead-container{
  display: flex;
  flex-direction: column;
  label:has(input:focus){
    outline: 1px solid var(--font-color);
  }

  input[type="radio"][data-dynamic-typeahead]{
    position: absolute;
    opacity: 0;
    &:focus, &:hover{
      background: var(--background-highlight);
    }
  }

  label {
    display: block;
    &:hover, &:focus{
      background: var(--background-highlight);
    }
  }
}